#menu {
	float: left;
	width: 190px;
}

.main {
	margin-left: 208px;
	margin-right: 208px;
}

h1 {
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 18px;
}

#poster {
	position: relative;
	padding-bottom: 18px;
	line-height: 12px;
}

#poster img {
	width: 814px;
}

#poster h1 {
	position: absolute;
	top: 0px;
	background-color: white;
	opacity: 0.7;
	padding: 18px;
	width: 100%;
}