#menu {
	float: left;
	width: 190px;
}

.fixed {
	position: fixed;
	top: 12px;
}

.main {
	margin-left: 208px;
	margin-right: 210px;
}

.sidebar {
	float: right;
	width: 190px;
}

h1 {
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 18px;
}

